<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="number" value="2" />
    <!--2,3 of 4-->
    <add key="resize" value="true" />
    <!--do resizing, after zwift start-->
    <add key="autoclose" value="120" />
    <!--this launcher closes after 5 minuts-->
    <add key="resolution" value="512x288" />
    <!--modify resolution 512x288, 1024x576,1280x720,1920x1080 -->
    <add key="usersfolder" value="C:\Users" />
    <add key="zwiftlocation" value="C:\Program Files (x86)\zwift" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>